<nav class="navbar navbar-expand-xl navbar-light bg-light">
  <div class="container-fluid mx-3">
    <a class="navbar-brand" [routerLink]="'/'">Recipe Book</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav w-100 d-flex content-end">
        <li class="nav-item">
          <!-- routerLink accepts simple string -->
          <a
            class="nav-link"
            aria-current="page"
            routerLink="recipes"
            routerLinkActive="active"
            >Recipes</a
          >
        </li>
        <li class="nav-item">
          <!-- [routerLink] accepts string inside quotations '' -->
          <a class="nav-link" [routerLink]="'shopping-list'">Shopping List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" app-dropdown>
          <a class="dropdown-toggle" role="button">
            Manage <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a>Save Data</a></li>
            <li><a>Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
