<a
  style="cursor: pointer"
  class="list-group-item list-group-item-action clearfix d-flex justify-content-between align-items-center mb-3"
  [routerLink]="[index]"
  routerLinkActive="active"
>
  <div class="pull-left">
    <h4 class="">
      {{ recipe.name }}
    </h4>
    <p class="">
      {{ recipe.description }}
    </p>
  </div>
  <span class="pull-right">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-responsive"
      style="max-height: 50px"
    />
  </span>
</a>
